html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-size: 18px;
  line-height: 24px;
  font-family: Roboto, sans-serif;
}

.container {
  width: 1210px;
  margin: 0 auto;
  padding: 15px;
}

.header__photo-box {
  position: relative;
  height: 440px;
  width: 300px;
  background-color: #6d4a30;
  margin-right: 60px;
}

.main-photo {
  width: 300px;
  position: absolute;
  bottom: 0;
}

header {
  margin: 0 auto;
  display: flex;
}

.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu {
  display: flex;
}

.menu_items {
  display: flex;
}

.header__title {
  color: #39566e;
  font-size: 52px;
}

.header__subtitle-contacts,
.main__subtitle-info {
  color: #39566e;
  font-size: 22px;
  letter-spacing: 2px;
}

.header__subtitle-city {
  margin-bottom: 36px;
}

.contact-info-title {
  margin-bottom: 0px;
}

.contact-info-subtitle {
  margin-top: 10px;
}

.contact-info-link {
  text-decoration: none;
  color: #000;
}

.contact-info-link:hover {
  text-decoration: none;
  color: #194061;
}

.main-info {
  display: flex;
}

.main__education-info {
  min-width: 300px;
  background-color: #bec6c2;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 60px;
}

.main__subtitle-info {
  margin: 0;
  margin-bottom: 40px;
}

.main__education-info-details {
  padding-left: 0px;
}
.main__education-info-details li {
  list-style: none;
  margin-bottom: 24px;
}

.main__education-info-details li p {
  margin-bottom: 2px;
  margin-top: 0px;
  font-size: 16px;
}

.main__general-info {
  padding-top: 40px;
}

.main__subtitle {
  margin-top: 40px;
}

.main__skills {
  display: flex;
  gap: 60px;
}

.main__education-info-item {
  margin: 10px 0;
}

.main__skills-info-items {
  list-style: none;
  padding-left: 24px;
  margin: 0;
}

.main__skills-info-item {
  margin-bottom: 16px;
  position: relative;
}

.main__skills-info-item:not(:last-child) {
  margin-bottom: 16px;
}

.main__skills-info-item::before {
  content: url(./img/icon.svg);
  margin-bottom: 16px;
  position: absolute;
  width: 18px;
  height: 18px;
  left: -24px;
  top: 3px;
}

.main__subtitle-category {
  color: #000;
  margin-bottom: 20px;
  margin-top: 0;
}

.project-description:hover {
  color: #194061;
}

.projects-box {
  display: flex;
  flex-wrap: wrap;
}

.main_projects-box-item {
  margin-bottom: 40px;
  margin-right: 20px;
  position: relative;
}

.main_projects-box-item img {
  width: 240px;
}

.main_projects-box-item-description {
  width: 240px;
  height: 190px;
  background-color: #f4f5f4;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  transition: 1s;
  opacity: 0;
}

.main_projects-box-item:hover .main_projects-box-item-description {
  opacity: 0.9;
}
.project-link {
  text-decoration: none;
  color: #000;
  text-align: center;
}

.project-link-title {
  text-transform: uppercase;
  font-weight: 600;
}

.footer {
  height: 30px;
  background-color: #39566e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__info a:hover {
  color: #39566e;
}

@media (max-width: 1250px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 1035px) {
  .container {
    width: 950px;
  }
  .header__title {
    font-size: 46px;
  }
}

@media (max-width: 970px) {
  .container {
    width: 870px;
  }
  .header__title {
    font-size: 40px;
  }
  .main_projects-box {
    padding-left: 10px;
  }
  .main_projects-box-item {
    margin-bottom: 30px;
  }
}

@media (max-width: 890px) {
  .container {
    width: 820px;
  }
  .header__title {
    font-size: 36px;
  }
  .main_projects-box {
    padding-left: 10px;
  }
  .main_projects-box-item {
    margin-bottom: 30px;
  }
}

@media (max-width: 890px) {
  .container {
    width: 820px;
  }
  .header__title {
    font-size: 32px;
  }
  .main_projects-box {
    padding-left: 10px;
  }
  .main_projects-box-item {
    margin-bottom: 20px;
  }
  .main__skills {
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 890px) {
  .container {
    width: 820px;
  }
  .header__title {
    font-size: 32px;
  }
  .main_projects-box {
    padding-left: 10px;
  }
  .main_projects-box-item {
    margin-bottom: 20px;
  }
  .main__skills {
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 820px) {
  .container {
    max-width: 730px;
  }
  .header__photo-box {
    height: 386px;
  }
  .header__title {
    font-size: 32px;
  }
  .header__subtitle-city {
    margin-bottom: 10px;
  }
  .main_projects-box {
    padding-left: 10px;
  }
  .main_projects-box-item {
    margin-bottom: 20px;
  }
  .main__skills {
    flex-direction: row;
    gap: 60px;
  }
  .main-info {
    flex-direction: column;
  }
  details summary span {
    font-size: 18px;
    line-height: 24px;
    font-family: Roboto, sans-serif;
  }
  .main__general-info {
    order: -1;
  }
  .main__education-info {
    display: flex;
    margin-right: 0;
    width: 100%;
  }
  .education-block-full {
    order: -1;
  }
  .education-block-full .main__subtitle {
    margin-top: 0px;
  }
}

@media (max-width: 730px) {
  .container {
    width: 680px;
  }
  .header__title {
    font-size: 28px;
  }
  .header__subtitle {
    font-size: 16px;
  }

  .main_projects-box {
    padding-left: 10px;
  }
  .main_projects-box-item {
    margin-bottom: 20px;
  }
  .main__skills {
    padding-left: 22px;
  }
}

@media (max-width: 680px) {
  .container {
    width: 600px;
  }
  .header__title {
    font-size: 26px;
  }
  .header__subtitle {
    font-size: 16px;
  }
  .main_projects-box {
    padding-left: 10px;
  }
  .main_projects-box-item {
    margin-bottom: 20px;
  }
  .main__skills {
    padding-left: 22px;
  }
  .header__photo-box {
    height: 330px;
    width: 220px;
    margin-right: 40px;
  }
  .header__subtitle-city {
    margin-top: 16px;
  }
  .header__subtitle-contacts {
    font-size: 20px;
  }
  .contact-info-title {
    font-size: 16px;
  }

  header .header__subtitle-contacts {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 500px;
  }
  .header__photo-box {
    height: 332px;
    width: 260px;
    margin-right: 40px;
    margin-bottom: 30px;
  }

  header {
    flex-direction: column;
    align-items: center;
  }
  .header__info {
    flex-direction: row;
  }

  .header__title {
    line-height: 40px;
  }
  .main_projects-box {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .container {
    width: 370px;
  }

  .header__info {
    flex-direction: column;
  }

  .header__photo-box {
    height: 280px;
    width: 210px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .header__info-main {
    text-align: center;
  }
  .contact-info {
    text-align: center;
  }
  .main__subtitle-info {
    text-align: center;
  }
  .main__education-info {
    padding-top: 24px;
    flex-direction: column;
  }
  .main__skills {
    padding-left: 30px;
    gap: 30px;
  }
  .main-info {
    text-align: center;
  }
  .projects-box {
    justify-content: center;
  }
  .main__education-info-details {
    margin-bottom: 36px;
    text-align: center;
  }
  .main__skills-info-items {
    text-align: left;
  }
}

@media (max-width: 380px) {
  .container {
    width: 360px;
  }

  .header__info {
    flex-direction: column;
  }

  .main__education-info {
    flex-direction: column;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 350px;
  }
}
